body {
    background-color: #eee;
}

header {
    text-align: center;
}

.searchInputContainer {
    display: flex;
    justify-content: center;
}

.searchInputContainer input {
    flex-grow: .5;
}

.mainOutputContainer{
    width: 100%;
    height: 25%;
    margin-top: 5%;
}

.mainOutputContainer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: right;
    text-decoration: none;
}

.mainOutputContainer a img {
    width: auto;
    max-width: 100%;
    height: auto;
}

#searchOutputContainer > h3 {
    text-align: center;
}

.alternateOutputContainer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    row-gap: 1em;
    margin-top: 5%;
}



.alternateOutputContainer::before{
    clear: left;
}

.alternateOutputContainer section a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alternateOutputContainer section a img {
    height: 20%;
    width: 20%;
    max-height: 250px;
    max-width: 200px;
    margin-right: 5%;
}

.alternatingRow {
    background-color: #ddd;
}

@media only screen and (min-width: 1024px) {

    .mainOutputContainer a:hover {
        text-decoration:underline;
    }

    .mainOutputContainer a img {
        width: auto;
        height: auto;
       
    }

    .alternateOutputContainer{
        flex-direction: row;
    }

    .alternateOutputContainer section {
        display: block;
    }
    
    .altPosterContainer img {
        width: auto;
        max-width: auto;
        height: auto;
    }

}
